.svg-button {
  height: 2rem;
  width: 2rem;
  background-color: blue;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem;
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  .svg-button-container {
    display: flex;
    flex-direction: row;
  }
}
