@media only screen and (min-width: 1400px) {
  * {
    font-size: 1rem;
  }

  .app {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .interface {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .canvas {
    transform: translateX(12vw);
    width: auto;
    height: auto;
  }

  .canvas-slider {
    display: block;
  }

  .slider-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .slider-container > * {
    text-align: center;
    margin: 5px 10px;
    width: 12rem;
  }

  .svg-button {
    height: 2rem;
    width: 2rem;
    background-color: blue;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0.5rem;
    cursor: pointer;
  }
}
